@font-face {
  font-family: comic;
  src: url(../fonts/ComicRelief.ttf);
}

* {
  margin: 0;
  border: 0;
  outline: 0;
  font-family: comic;
}

body {
  background-color: #333333;
  overflow-y: hidden;
}

#screen {
  width: 100vw;
  height: 28vh;
  font-size: 6vw;
  line-height: 25vh;
  text-align: center;
  position: relative;
  resize: none;
  background-color: white;
}

button {
  position: relative;
  overflow: hidden;
  width: 20vw;
  height: 12vh;
  font-size: 2.5vh;
}

.functions {
  background-color: #25BB9A;
}

.operator {
  background-color: #4D4D4D;
}

.number {
  background-color: #333333;
  color: white;
}

.eval {
  width: 12vh;
  height: 12vh;
  margin-left: 3vw;
  background-color: orange;
  border-radius: 100%;
}

#ripple {
  position: absolute;
  border-radius: 100%;
  background: white;
  float: left;
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  from {
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    opacity: 0.8;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
  }
}

button:hover {
  cursor: pointer;
}
